/* Selection marker styles */

::selection {
  color: #ffffff;
  background-color: #7c3aed; /* Example blue color */
}

/* Change the color and background color of the selected text */
::-moz-selection {
  color: #ffffff;
  background-color: #7c3aed; /* Example blue color */
}
